@model IEnumerable<WebMvc.Models.EntryViewModel>
@{
    ViewData["Title"] = "Entries";
}

<table class="table table-striped table-bordered fs-5 fw-bold">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Boarded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftBehind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StopName)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.LoopName)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusNumber)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Boarded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeftBehind)
                </td>
               <td>
                    @Html.DisplayFor(modelItem => item.StopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverName)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.BusNumber)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.TimeStamp)
                </td>
            </tr>
        }
    </tbody>
</table>
