@model IEnumerable<WebMvc.Models.LoopViewModel>
@{
    ViewData["Title"] = "Entries";
}

<table class="table">
    <a asp-action="ViewManager">Back</a>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="EditLoop" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CreateLoop">Create Loop</a>
